/* stylesheet for e-class */

body { width: 100%; }

.flexbox-container { 
display: flex: 1;
text-align: center;
flex-direction: row;
justify-content: space-around;
flex-basis: 500px;

}

.flexbox-item { 


border: 5px solid black; 
background-color: white; 
}

.flexbox-item1 {
min-height: 600px; 
}

.flexbox-item2 {
min-height: 600px;
}

.flexbox-item3 {
min-height: 600px;
}